* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%; }
  .search__input {
    margin-right: -3.5rem;
    border-radius: 10rem;
    padding: 0.7rem 2rem;
    border: none;
    width: 90%;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--color-grey-light-2);
    transition: all 0.3s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    transition: all 0.5s; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative;
    display: flex;
    align-items: center; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-1); }
  .user-nav__notification {
    background-color: var(--color-primary-dark);
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-grey-light-3);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem; }
  .user-nav__user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  min-height: 50rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 7rem;
  border-bottom: var(--color-grey-light-2);
  font-size: 1.4rem; }

.content-container {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  background-color: red;
  flex: 1; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
