.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    &__input {
        margin-right: -3.5rem;
        border-radius: 10rem;
        padding: 0.7rem 2rem;
        border: none;
        width: 90%;
        font-size: inherit;
        font-family: inherit;
        background-color: var(--color-grey-light-2);
        transition: all 0.3s;
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
    }
    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

.user-nav {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        transition: all 0.5s;
        &:hover {
            background-color: var(--color-grey-light-2);
        }
    }
    &__icon-box {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-dark-1);
    }
    &__notification {
        background-color: var(--color-primary-dark);
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-grey-light-3);
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
    }
    &__user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    &__user-photo {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 50%;
    }
}

.side-nav {
    list-style: none;
    font-size: 1.4rem;
    margin-top: 3.5rem;
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    &__icon {
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        fill: currentColor;
    }
    &__link:link,
    &__link:visited {
        position: relative;
        display: flex;
        align-items: center;
        color: var(--color-grey-light-1);
        text-decoration: none;
        padding: 1.5rem 3rem;
        z-index: 10;
        text-transform: uppercase;
    }
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    }
    &__item:active::before {
        background-color: var(--color-primary-light);
    }
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }
}

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

.gallery {
    display: flex;
    &___item {}
    &__photo {
        width: 100%;
        display: block;
    }
}

.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-2);
    backface-visibility: hidden;
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }
    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }
    &__star {
        margin-right: auto;
        display: flex;
        align-items: center;
    }
    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }
    &__rating {}
    &__rating-avg {}
    &__rating-count {}
}

.btn-location {
    border: none;
    color: var(--color-primary);
    font-size: 1.4rem;
    border-bottom: currentColor;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s;
    &:focus {
        outline: none;
        animation: pulsate 0.5s infinite;
        -webkit-animation: pulsate 0.5s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scaleY(1);
        box-shadow: none;
    }
    50% {
        transform: scaleY(1.05);
        box-shadow: 0 1rem 4rem rgba(#eb2f64, 0.5);
    }
    100% {
        transform: scaleY(1);
        box-shadow: none;
    }
}