.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    &__input {
        margin-right: -3.5rem;
        border-radius: 10rem;
        padding: 0.7rem 2rem;
        border: none;
        width: 90%;
        font-size: inherit;
        font-family: inherit;
        background-color: var(--color-grey-light-2);
        transition: all 0.3s;
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
    }
    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

.user-nav {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        transition: all 0.5s;
        &:hover {
            background-color: var(--color-grey-light-2);
        }
    }
    &__icon-box {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-dark-1);
    }
    &__notification {
        background-color: var(--color-primary-dark);
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-grey-light-3);
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
    }
    &__user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    &__user-photo {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 50%;
    }
}

.side-nav {
    list-style: none;
    font-size: 1.4rem;
    margin-top: 3.5rem;
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    &__icon {
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        fill: currentColor;
    }
    &__link:link,
    &__link:visited {
        position: relative;
        display: flex;
        align-items: center;
        color: var(--color-grey-light-1);
        text-decoration: none;
        padding: 1.5rem 3rem;
        z-index: 10;
        text-transform: uppercase;
    }
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    }
    &__item:active::before {
        background-color: var(--color-primary-light);
    }
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }
}

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

.gallery {
    display: flex;
    &___item {}
    &__photo {
        width: 100%;
        display: block;
    }
}

.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-2);
    backface-visibility: hidden;
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }
    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }
    &__star {
        margin-right: auto;
        display: flex;
        align-items: center;
    }
    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }
    &__rating {
        display: flex;
        font-size: 1.4rem;
        font-weight: 300;
        color: #fff;
        background-color: var(--color-primary);
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        margin-left: 2rem;
    }
    &__rating-avg {
        font-size: 2.25rem;
    }
    &__rating-count {}
}

.btn-location {
    border: none;
    color: var(--color-primary);
    font-size: 1.4rem;
    background-color: var(--color-grey-light-1);
    border-bottom: currentColor;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s;
    &:focus {
        outline: none;
        animation: pulsate 0.5s infinite;
        -webkit-animation: pulsate 0.5s infinite;
    }
}

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.list {
    margin: 2rem 0;
    padding: 3rem 0;
    border-bottom: 1px solid var(--color-grey-light-2);
    border-top: 1px solid var(--color-grey-light-2);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    &__item {
        flex: 0 0 50%;
        margin-bottom: 0.7rem;
    }
    &__item::before {
        content: "";
        padding: 0 1rem;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.7rem;
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
    }
}

.recomend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;
    &__count {
        margin-right: auto;
    }
    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
        &:not(:last-child) {
            margin-right: -1.15rem;
        }
    }
}

.review {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;
    &__text {
        position: relative;
        margin-bottom: 2rem;
        z-index: 10;
    }
    &__user {
        display: flex;
        align-items: center;
    }
    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }
    &__user-box {
        margin-right: auto;
    }
    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.4rem;
    }
    &__user-date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }
    &__rating {
        font-size: 2.2rem;
        color: var(--color-primary);
        font-weight: 300;
    }
    &::before {
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        font-family: sans-serif;
        font-size: 20rem;
        line-height: 1;
        color: var(--color-grey-light-2);
        z-index: 1;
    }
}

.btn-inline {
    font-size: 400;
    cursor: pointer;
    color: var(--color-primary);
    padding-bottom: 0.5rem;
    border: none;
    background-color: var(--color-grey-light-1);
    border-bottom: 1px solid var(--color-primary);
    align-self: center;
    transition: all 0.3s;
    &__span {
        margin-left: 0.3rem;
        transition: margin-left 0.3s;
    }
    &:hover {
        color: var(--color-grey-dark-2);
        border-color: var(--color-grey-dark-2);
    }
    &:hover &__span {
        margin-left: 0.8rem;
    }
}

.cta {
    padding: 3.5rem 0;
    text-align: center;
    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
    &__btn {
        border: none;
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 10rem;
        background-image: linear-gradient( to right, var(--color-primary-light), var(--color-primary-dark));
        color: #fff;
        position: relative;
        overflow: hidden;
        box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.06);
        &>* {
            display: inline-block;
            width: 100%;
            height: 100%;
            transition: all 0.3s;
        }
        &--visible {
            padding: 2rem 7.5rem;
        }
        &--invisible {
            position: absolute;
            padding: 2rem 0;
            top: -100%;
            right: 0;
        }
        &:hover &--visible {
            transform: translateY(10rem);
        }
        &:hover &--invisible {
            top: 0;
        }
    }
}

@keyframes pulsate {
    0% {
        transform: scaleY(1);
        box-shadow: none;
    }
    50% {
        transform: scaleY(1.05);
        box-shadow: 0 1rem 4rem rgba(#eb2f64, 0.5);
    }
    100% {
        transform: scaleY(1);
        box-shadow: none;
    }
}